@use '../abstracts/variables' as var;
@use 'sass:math';
html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	line-height: 1.5;
	box-sizing: border-box;
}
img {
	width: 100%;
}
// h1 {}
h1 {
	text-transform: capitalize;
}

h2 {
	text-transform: capitalize;
}

h3 {
	text-transform: capitalize;
}

.btn {
	text-transform: uppercase;
	color: var.$text-color-base;
	background-color: var.$background-color-btn;
	padding: math.div(var.$gutter-base, 3) var.$gutter-base;
	border-radius: 3px;
	text-decoration: none;
	&:hover {
		background-color: var.$hover-color;
	}
}
hr {
	border: 2px solid var.$text-color-secondary;
	width: calc(var.$gutter-base * 4);
}
