* {
	box-sizing: border-box;
	color: white;
}

img {
	width: 100%;
}
body {
	margin: 0;
	background-color: #638caa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin-top: 0;
}
h2 {
	margin-top: 10px;
	color: black;
	background-color: #b7ced6;
}
h3 {
	text-align: center;
}

.logoA {
	margin-left: 100px;
	margin-top: 20px;
	width: 40px;
	display: inline-block;
}

nav {
	margin-right: 100px;
	margin-top: -35px;
}
.topContainer nav ul li {
	padding-right: 10px;
	list-style: none;
	display: inline-block;
}

nav li a {
	text-decoration: none;
}
nav li a:hover {
	color: rgb(75, 68, 68);
}
nav {
	text-align: right;
}
.topPhoto {
	width: 38%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.topFrame > .icon {
	padding: 10px 16px;
	width: 25%;
	text-align: center;
	float: left;
}

.topFrame .icon i {
	margin-top: 15px;
	font-size: 62px;
	color: black;
}

.bgBlueSky {
	background-color: #638caa;
}
.bgcolorBrown {
	background-color: #bcb9aa;
}
.bgcolorGray {
	background-color: #dbdbdb;
}
.bgcolorLightBlue {
	background-color: #9ce0d1;
}
.bgcolorDarkGray {
	background-color: #9aa7b8;
}
.bgcolorGrayBlue {
	background-color: #b7ced6;
}
.bgcolorOrange {
	background-color: #f09e84;
}
.bgcolorLightBlack {
	background-color: #514354;
}
.clear {
	clear: both;
}
.content {
	width: 50%;
	float: left;
}
.contentFix {
	padding-bottom: 18.5px;
	width: 50%;
	float: left;
}
.box {
	margin: 15px auto;
	padding: 30.2px 0;
	width: 20%;
}
.boxText {
	margin: 0 auto;
	padding: 49px 15px;
}
p {
	text-indent: 15px;
}

.botField {
	padding: 18px 0;
	width: 33.33%;
	float: left;
	text-align: center;
}
.botField h3 {
	color: black;
	font-weight: bolder;
}

.socioFrame {
	text-align: center;
}
.socioFrame a i {
	padding: 60px;
	font-size: 30px;
}
.end {
	width: 100%;
	padding: 18px 0;
	background-color: #514354;
	text-align: center;
}
.end h6 {
	margin-bottom: 0;
}
