@use 'sass:math';

@function rem-calc($size) {
	@return (math.div($size, 16)) * 1rem;
}



$font-size-base: rem-calc(16);
$font-size-medium: rem-calc(18);

$heading-size-tiny: rem-calc(24);
$heading-size-small: rem-calc(32);
$heading-size-big: rem-calc(45);
$heading-size-bigger: rem-calc(100);
$heading-size-enormous: rem-calc(140);

$line-height-base: 1.5;
$line-height-small: 1.25;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

// Size settings
$gutter-base: rem-calc(30);

// Color settings
$text-color-base: white;
$text-color-primary: black;
$text-color-secondary: rgb(21, 164, 236);
$text-color-thirtiary:rgb(67, 62, 62);

$background-color-base: rgb(214, 205, 205);
$background-color-primary: rgb(67, 62, 62);
$background-color-secondary: transparentize($text-color-base, 0.5);
$background-color-btn: rgb(21, 164, 236);

$hover-color: darken(#e1c969, 10%);
